#change partition permission
/dev/block/mmcblk0                                              0660    root    system
/dev/block/mmcblk0boot0                                         0660    root    system
/dev/block/mmcblk0boot1                                         0660    root    system
/dev/misc-sd                                                    0660    root    system
/dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/misc2     0660    root    system
/dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/boot      0640    root    system
/dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/recovery  0640    root    system
/dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/secro     0640    root    system
/dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/seccfg    0660    root    system
/dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/proinfo   0660    root    system
/dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/nvram     0660    root    system
/dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/para      0660    root    system
/dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/logo      0660    root    system
/dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/frp       0660    root    system

# OTP
/dev/otp                 0660 system system

# Connectivity
/dev/stpwmt               0660   system     system
/dev/wmtdetect            0660   wifi     wifi

# BT
/dev/stpbt                0660   bluetooth bluetooth

# GPS
/dev/stpgps               0660   gps        gps
/sys/class/gpsdrv/gps   pwrctl     0660       gps     gps
/sys/class/gpsdrv/gps   suspend    0660       gps     gps
/sys/class/gpsdrv/gps   state      0660       gps     gps
/sys/class/gpsdrv/gps   pwrsave    0660       gps     gps
/sys/class/gpsdrv/gps   status     0660       gps     gps
/dev/gps                  0660   gps        system

# ANT
/dev/stpant               0660   system     system

# WIFI
/dev/wmtWifi              0660   wifi     wifi

# FMRadio
/dev/fm                   0660   media     media

# NFC
/dev/msr3110              0666   root       root
/dev/mt6605               0660   nfc        radio

# MTK BTIF driver
/dev/btif                 0600   system     system

# Trusty driver
/dev/trusty-ipc-dev0      0660   system     keystore

# add the read write right of ttyUSB*
/dev/bus/usb/*     	  0660   root       usb
/dev/ttyUSB0              0660   radio      radio
/dev/ttyUSB1              0660   radio      radio
/dev/ttyUSB2              0660   radio      radio
/dev/ttyUSB3              0660   radio      radio
/dev/ttyUSB4              0660   radio      radio

# Anyone can read the logs, but if they're not in the "logs"
# group, then they'll only see log entries for their UID.
/dev/xLog                 0600   root       root
/dev/log/ksystem          0600   root       log

/dev/ccci*                0660   radio      radio
/dev/ttyC*                0660   radio      radio
/sys/kernel/ccci          modem_info   0644   radio       radio
/sys/kernel/ccci          md1_postfix  0644   radio       radio
/sys/kernel/ccci          md2_postfix  0644   radio       radio
/dev/eemcs*               0660   radio      radio
/dev/emd*                 0660   radio      radio
/dev/ccci_pcm_rx          0660   audio      audio
/dev/ccci_pcm_tx          0660   audio      audio
/dev/ccci_aud             0660   audio      audio
/dev/ccci2_aud            0660   audio      audio
/dev/eemcs_aud            0660   audio      audio

/sys/devices/platform/leds-mt65xx/leds/green   delay_on      0664  system   system
/sys/devices/platform/leds-mt65xx/leds/green   delay_off      0664  system   system
/sys/devices/platform/leds-mt65xx/leds/red   delay_on      0664  system   system
/sys/devices/platform/leds-mt65xx/leds/red   delay_off      0664  system   system
/sys/devices/platform/leds-mt65xx/leds/blue   delay_on      0664  system   system
/sys/devices/platform/leds-mt65xx/leds/blue   delay_off      0664  system   system

#GPIO
/dev/mtgpio               0600   radio      root

# Sensor
/dev/hwmsensor            0660   system	    nvram
/dev/msensor              0660   system	    nvram
/dev/gsensor              0660   system	    nvram
/dev/als_ps               0660   radio	    nvram
/dev/aal_als              0660   system	    nvram
/sys/class/misc/m_alsps_misc   alsactive         0660   system	    system
/sys/class/misc/m_alsps_misc   alsbatch          0660   system	    system
/sys/class/misc/m_alsps_misc   alsdelay          0660   system	    system
/sys/class/misc/m_alsps_misc   alsdevnum         0440   system	    system
/sys/class/misc/m_alsps_misc   alsflush          0660   system	    system
/sys/class/misc/m_alsps_misc   psactive          0660   system	    system
/sys/class/misc/m_alsps_misc   psbatch           0660   system	    system
/sys/class/misc/m_alsps_misc   psdelay           0660   system	    system
/sys/class/misc/m_alsps_misc   psdevnum          0440   system	    system
/sys/class/misc/m_alsps_misc   psflush           0660   system	    system

/sys/class/misc/m_acc_misc     accactive         0660   system	    system
/sys/class/misc/m_acc_misc     accbatch          0660   system	    system
/sys/class/misc/m_acc_misc     accdelay          0660   system	    system
/sys/class/misc/m_acc_misc     accdevnum         0440   system	    system
/sys/class/misc/m_acc_misc     accflush          0660   system	    system

/sys/class/misc/m_mag_misc     magactive         0660   system	    system
/sys/class/misc/m_mag_misc     magbatch          0660   system	    system
/sys/class/misc/m_mag_misc     magdelay          0660   system	    system
/sys/class/misc/m_mag_misc     magdevnum         0440   system	    system
/sys/class/misc/m_mag_misc     magflush          0660   system	    system
/sys/class/misc/m_mag_misc     magoactive        0660   system	    system
/sys/class/misc/m_mag_misc     magobatch         0660   system	    system
/sys/class/misc/m_mag_misc     magodelay         0660   system	    system
/sys/class/misc/m_mag_misc     magoflush         0660   system	    system

/sys/class/misc/m_gyro_misc	gyroenablenodata 0660   system	    system
/sys/class/misc/m_gyro_misc	gyroactive 	0660   system	    system
/sys/class/misc/m_gyro_misc	gyrodelay 	0660   system	    system
/sys/class/misc/m_gyro_misc	gyrobatch 	0660   system	    system
/sys/class/misc/m_gyro_misc	gyroflush 	0660   system	    system

#FOR VIA MODEM
/dev/ttySDIO*             0660   radio      sdcard_rw
/dev/ttyRB*               0660   radio      radio

# Mali node
/dev/mali                 0666   system     graphics

# Change ION driver permission
/dev/ion                  0666   system     graphics

#touch
/dev/touch                0660   root       system
/dev/hotknot              0660   root       system

#hang_detect
/dev/RT_Monitor           0600   system     system
/dev/kick_powerkey        0600   system     system

#MTK In-House TEE
/dev/ttyACM0              0660   radio      radio
